

/*時計画面PC*/

@media (min-width: 1025px){

#clock{
    width:1000px;
    align-self:center;
    position: absolute;
    top:100px;

}

#date {

width:800px;
font-size: 50px;
color: #000;
}


#time {
font-size: 200px;
font-weight: bold;
width:800px;

}


#timezone {
font-size: 60px;

}

}




/*時計画面タブレット*/

@media (min-width: 768px) and (max-width: 1024px) {

    html{
         font-size: 15px;  
    }


    #clock{
    display: flex;
    width: 50%;
    align-self:center;
    justify-content: center; 
    position: absolute;
    position: absolute;
    top:100px;

}

#date {

width:100%;
font-size: 3rem;
color: #000;
}


#time {
font-size: 7rem;
font-weight: bold;
width:100%;

}


#timezone {
font-size: 3rem;
width:100%;

}
}

/*スマホ用*/

@media (max-width: 767px){



    html{
         font-size: 14px;  /* スマホ用に少し小さめに調整 */
    }

     #clock{
     display: flex;
    width: 70%;
    align-self:center;
    justify-content: center; 
    position: absolute;


}

#date {

width:100%;
font-size: 2rem;
color: #000;
}


#time {
font-size: 4rem;
font-weight: bold;
width:100%;

}


#timezone {
font-size: 2rem;
width: 100%;


}

}


